<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}!
<!-- Подключаем новый файл с нашим тегом -->
{% load custom_tags %}

<!-- Название у нас будет Product -->
{% block title %}
Post
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
<h1>{{ post.post_name | obscene }}</h1>
<h3>{{ post.post_datetime | date:'d M Y' }}</h3>
<h4>{{ post.post_text | obscene }}</h4>
{% endblock content %}